.linear-background{
    back linear-gradient(180deg,rgba(0,0,0,.9),rgba(0,51,102,.9))
}

.sc2stats-page{
    background-color: #002650;
    color: white;
    padding: 20px;
}

.nes-container.with-title > .title{
    background-color: black;
    color: #EAC14B;
}

.section-spaced{
    margin: 2.5rem;
}

.sc2-flex-container{
    display: flex;
    flex-direction: row;
}

.sc2-flex-item-auto{
    flex: auto;
}

.sc2-lane-item-start{
    margin-right: 10px;
}

.sc2-flex-lane-item{
    flex: intial;
}

.sc2-flex-initial{
    flex: initial;
}

.sc2-select-label{
    white-space: nowrap;
}

.sc2-field-select{
    margin-left: 80px;
}

.sc2-info-section{
    margin: 30px;
}

.sc2-select{
    flex-basis: 0;
    flex-grow: 5;
}