<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nes.css"></link>
    <link rel="stylesheet" type="text/css" href="css/sc2stats.css"></link>
    <title>New Player</title>
</head>
<body class="sc2stats-page">
<h1>Create a New Player</h1>
<form method="post" th:action="@{/create-player}">
    <section class="nes-container with-title">
        <h3 class="title">New Player</h3>
        <div class="nes-field is-inline">
            <label for="nickname">Nickname (the Starcraft 2 username)</label>
            <input id="nickname" name="nickname" type="text" class="nes-input">
        </div>
        <div div="nes-field">
            <input class="nes-btn is-primary" type="submit" value="Create">
        </div>
    </section>
</form>
</body>
</html>