<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nes.css"></link>
    <link rel="stylesheet" type="text/css" href="css/sc2stats.css"></link>
    <title>Home page</title>
</head>
<body class="sc2stats-page">
    <h1>SC2Stats Personal Dashboard</h1>

    <div id="noPlayersSection" th:if="${ #lists.isEmpty(userPlayers)}">

        <section class="nes-container with-title">
            <h3 class="title">Info</h3>
            <div>
                <span class="nes-text is-primary">
                    Hi <span th:text="${username}"></span>! You do not have any player yet.
                </span>
            </div>
            <div>
                <a th:href="@{/create-player}">
                    <button class="nes-btn is-primary" role="link">Create your first player!</button>
                </a>
            </div>
        </section>
    </div>

    <div id="atLeastOnePlayerSection" th:if="${ ! (#lists.isEmpty(userPlayers)) }">

        <h2>Your Players</h2>

        <a th:href="@{/create-player}">
            <button class="nes-btn is-primary" role="link">New Player</button>
        </a>

        <div th:each="player : ${userPlayers}" class="section-spaced">
            <section class="nes-container with-title">
                <h3 class="title" th:text="${player.nickname}"></h3>
                <div class="item sc2-flex-container">
                    <div id="globalStats" class="sc2-flex-item-auto">
                        <h4>Global</h4>
                        <div>Victories: </div>
                        <div>Defeats: </div>
                    </div>
                    <div id="vsTerranStats" class="sc2-flex-item-auto">
                        <h4>Vs. Terran</h4>
                        <div>Victories: </div>
                        <div>Defeats: </div>
                    </div>
                    <div id="vsZergStats" class="sc2-flex-item-auto">
                        <h4>Vs. Zerg</h4>
                        <div>Victories: </div>
                        <div>Defeats: </div>
                    </div>
                    <div id="vsProtossStats" class="sc2-flex-item-auto">
                        <h4>Vs. Protoss</h4>
                        <div>Victories: </div>
                        <div>Defeats: </div>
                    </div>
                </div>
                <div id="latestGameLane" style="margin-top: 20px;">
                    <h4>Latest games</h4>
                    <div class="item sc2-flex-container">
                        <div class="sc2-flex-lane-item sc2-lane-item-start">
                            <div style="text-align: right;">Protoss</div>
                            <div style="text-align: right;">Terran</div>
                            <div style="text-align: right;">Zerg</div>
                        </div>

<!--                        <div class="sc2-flex-lane-item" th:each="laneItem : ${laneItems}">-->
<!--                            <div><button class="nes-btn is-success"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                        </div>-->

<!--                        Graphical POC - TODO: delete-->
<!--                        <div class="sc2-flex-lane-item">-->
<!--                            <div><button class="nes-btn is-success"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                        </div>-->
<!--                        <div class="sc2-flex-lane-item">-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-success"></button></div>-->
<!--                        </div>-->
<!--                        <div class="sc2-flex-lane-item">-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-error"></button></div>-->
<!--                        </div>-->
<!--                        <div class="sc2-flex-lane-item">-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-disabled"></button></div>-->
<!--                            <div><button class="nes-btn is-success"></button></div>-->
<!--                        </div>-->
                    </div>
                </div>

                <div class="flex-container" style="margin-top: 20px">
                    <a th:href="@{/create-game-record(nickname=${player.nickname})}">
                        <button class="nes-btn sc2-flex-item-auto">New Game Record</button>
                    </a>
                </div>

            </section>
        </div>

    </div>

</body>
</html>